@font-face {
  font-family: 'Effra Heavy';
  src: url('/media/effra/Effra_Std_He.ttf')  format('truetype');
}


@font-face {
  font-family: 'Avenir Book';
  src: url('/media/avenir/AvenirLTStd-Book.otf')  format('opentype');
}
@font-face {
  font-family: 'Avenir Medium';
  src: url('/media/avenir/AvenirLTStd-Medium.otf')  format('opentype');
}
@font-face {
  font-family: 'Avenir Roman';
  src: url('/media/avenir/AvenirLTStd-Roman.otf')  format('opentype');
}
@font-face {
  font-family: 'Avenir Next Bold';
  src: url('/media/avenir/AvenirNextLTPro-Bold.otf')  format('opentype');
}
@font-face {
  font-family: 'Avenir Next LT';
  src: url('/media/avenir/AvenirNextLTPro-It.otf')  format('opentype');
}
@font-face {
  font-family: 'Avenir Next Regular';
  src: url('/media/avenir/AvenirNextLTPro-Regular.otf')  format('opentype');
}


@font-face {
  font-family: 'Celias Black';
  src: url('/media/celias/Type Dynamic - Celias Black.otf')  format('opentype');
}
@font-face {
  font-family: 'Celias Light Italic';
  src: url('/media/celias/Type Dynamic - Celias Light Italic.otf')  format('opentype');
}
@font-face {
  font-family: 'Celias Light';
  src: url('/media/celias/Type Dynamic - Celias Light.otf')  format('opentype');
}
@font-face {
  font-family: 'Celias Medium Italic';
  src: url('/media/celias/Type Dynamic - Celias Medium Italic.otf')  format('opentype');
}
@font-face {
  font-family: 'Celias Medium';
  src: url('/media/celias/Type Dynamic - Celias Medium.otf')  format('opentype');
}
@font-face {
  font-family: 'Celias Regular Italic';
  src: url('/media/celias/Type Dynamic - Celias Regular Italic.otf')  format('opentype');
}
@font-face {
  font-family: 'Celias Regular';
  src: url('/media/celias/Type Dynamic - Celias Regular.otf')  format('opentype');
}
@font-face {
  font-family: 'Celias';
  src: url('/media/celias/Type Dynamic - Celias.otf')  format('opentype');
}


@font-face {
  font-family: 'Nunito Black';
  src: url('/media/Nunito/Nunito-Black.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Black Italic';
  src: url('/media/Nunito/Nunito-BlackItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Bold';
  src: url('/media/Nunito/Nunito-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Bold Italic';
  src: url('/media/Nunito/Nunito-BoldItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Extra Bold';
  src: url('/media/Nunito/Nunito-ExtraBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Extra Bold Italic';
  src: url('/media/Nunito/Nunito-ExtraBoldItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Extra Light';
  src: url('/media/Nunito/Nunito-ExtraLight.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Extra Light Italic';
  src: url('/media/Nunito/Nunito-ExtraLightItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Italic';
  src: url('/media/Nunito/Nunito-Italic.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Light';
  src: url('/media/Nunito/Nunito-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Light Italic';
  src: url('/media/Nunito/Nunito-LightItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Regular';
  src: url('/media/Nunito/Nunito-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Semi Bold';
  src: url('/media/Nunito/Nunito-SemiBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Semi Bold Italic';
  src: url('/media/Nunito/Nunito-SemiBoldItalic.ttf')  format('truetype');
}
