@media (max-width: 389.98px) {

	#lottery-result {
		section.all-news {
			.step-textTitle {
				margin: 20px 0;
			}
			.lottery-container {
				/*max-width: 100%;*/
				margin-bottom: 10px;
				margin-left: 15px;

				.card-body {
					width: 140px !important;
				}


				.sluggame-logo {
					width: 90% !important;
				}
			}
		}
	}

	.result-container {

		.uk-logo-lotto {
			width: 100% !important;
			height: auto;
		}

		.prize, .date {
			font-size: 12px;
		}

		.latest-title {
			font-size: 20px !important;
		}

		label {
			font-size: 14px;
		}

		.numbers {
		    width: 30px;
		    height: 30px;
		    font-size: 18px;
		    line-height: 35px;
		    margin-right: 10px;
		}

		.arrow-icon {
			margin-left: 10px;
		}
	}


}

@media (max-width: 575.98px) {

	body {
		#mainNav {

			.uk-logo {
				width: 230px;
				height: 65px;
			}
		}
	}

	#lottery-result {
		section.all-news {
			.step-textTitle {
				margin: 20px 0;
			}
			.lottery-container {
				/*max-width: 100%;*/
				margin-bottom: 10px;
				margin-left: 15px;

				.card-body {
					width: 190px;
				}


				.sluggame-logo {
					width: 70%;
				}
			}
		}
	}

	.result-container {
		padding-top: 10px;

		.gameResult-body {
			padding: 0;
		}

		.uk-logo-lotto {
			width: 70%;
			height: auto;
		}

		.latest-title {
			font-size: 24px;
		}

		.prize, .date {
			font-size: 12px;
		}

		.game-logo {
			padding-left: 10px;

			.uk-logo-lotto {
				max-width: 100%
			}

			.game-postcode_daily,
			.game-postcode_weekly, .game-postcode_monthly {
				max-width: 50%;
			}

			.game-health_lottery {
				max-width: 60%;
			}
		}

		.nextDraw {	
			font-size: 15px;
			font-weight: normal;	
			line-height: 30px;	
		}

		.card-footer {
			padding: 26px 15px;
		}
	}

	.game_result.postcode{

	    &.postcode_weekly, &.postcode_monthly {
	        .numbers.circle {
	            min-width: 100%;
	        }
	    }

	}

	.notification-wrapper {
		.media-heading {
		    font-family: "Celias Medium";
		    font-size: 20px;
		    font-weight: 900;
		    line-height: 20px;
		}

		.notif-content {
		    font-family: "Nunito Regular", sans-serif;
		    font-size: 15px;
		    line-height: 22px;
		    padding-top: 10px;
		    font-weight: lighter;
		}

		.notif-button {
			text-align: center;
			padding-top: 0;
		}

		.getNotified-container {
		    padding: 2.25rem 0;
		}
	}

	.uk-lotto-news-wrapper {

		.card-title {
			a {
				font-family: "Celias Black";
			}
		}
	}

	.subscribe-wrapper {
		.media-body {
		    flex: unset;
		}

		.subscribe-content {
			font-family: "Nunito Regular", sans-serif;
		    font-size: 15px;
		    line-height: 22px;
		    padding-top: 10px;
		    font-weight: lighter;
		}
	}

	.game_result {
		font-size: 12px;
	}

	#result-detail {
		section.detail {
			.detail-content{
				padding: 15px;

				.next-draw {
					text-align: center;
				}
			}

			.latest-title {
				line-height: 35px;
			}
		}
	}

	footer {
		.footer-copyright, a, .sm-font {
	    	font-size: 15px;	
	    	line-height: 22px;	
		}

		.footerLinks, .social-media {
			width: 50%;
		}
	}
}

@media (max-width: 991px) {
	#news-list{
		section.all-news{
			.news-container{
				.media{
					position: relative;
    				height: 400px;

					.media-left.media-img-container{
						position: absolute;
					    top: 0;
					    width: 100%;
					    text-align: center;
					    height: 200px;
					    overflow: hidden;

						img{
							width: 100%;
    						height: auto;
						}
					}
					.media-body{
						margin-top: 200px;
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
	#result-detail {
		section.detail {
			.detail-content{

				.next-draw {
					text-align: center;

					span {
						font-family: "Nunito Regular", sans-serif;
		    			font-size: 20px;
					}
				}
			}

			.latest-title {
				line-height: 35px;
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	#result-detail{
		section.result-video{
			iframe.video{
				height: 330px !important;
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}