@font-face {
  font-family: 'Effra Heavy';
  src: url('/media/Effra_Std_He.ttf')  format('truetype');
}

@font-face {
  font-family: 'Avenir Boo';
  src: url('/media/AvenirLTStd-Book.otf')  format('opentype');
}
@font-face {
  font-family: 'Avenir Med';
  src: url('/media/AvenirLTStd-Medium.otf')  format('opentype');
}
@font-face {
  font-family: 'Avenir Rom';
  src: url('/media/AvenirLTStd-Roman.otf')  format('opentype');
}