@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

@font-face {
  font-family: 'Effra Heavy';
  src: url('/media/Effra_Std_He.ttf')  format('truetype');
}

@font-face {
  font-family: 'Avenir Boo';
  src: url('/media/AvenirLTStd-Book.otf')  format('opentype');
}
@font-face {
  font-family: 'Avenir Med';
  src: url('/media/AvenirLTStd-Medium.otf')  format('opentype');
}
@font-face {
  font-family: 'Avenir Rom';
  src: url('/media/AvenirLTStd-Roman.otf')  format('opentype');
}

h3{
	font-family: "effra heavy";
}

.navbar-dark .navbar-nav .nav-link {
	color: #212121;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
	color: #2a65cd;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: #2a65cd;
}

a:hover {
	text-decoration: none;
}

.btn, .card {
	border-radius: 0;
	box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.1);
}

.btn {
	padding: 0.375rem 1.75rem;
}

.supp-link-icons {
	color: #2a65cd;
	padding-top: 20px;
}

.gameResults-actionLink {
    margin-bottom: 2%;
}

h1, h2, h3, h4, h5 {
	font-family: "Effra Heavy";
}

h4 {
	font-family: "Effra Heavy";
    font-size: 40px;
}

body {
	padding-top: 54px;

	/* for navigation */
	#mainNav {
		padding: 1.5rem 1rem;
		background-color: #FFF;

		.uk-logo {
			width: 270px;
			height: 65px;
		}
	}
}


/* for header */
.result-container {
	background-color: #2a65cd;
	padding-top: 42px;
	padding-bottom: 42px;
	margin-top: 20px;

	a.icons.icon-pastresult {
		float: right;
	}

	a.icons {
		padding-right: 15px;
	}

	.icon-pastresult {
		padding-right: 5px;
	}

	.arrow-icon {
		background-color: #7f8fa6;
		color: #fff;
		text-align: center;
		line-height: 4rem;
		max-width: 12%;
	}

	.game-logo {
		font-family: "Effra Heavy";
    	color: #000;
	}

	.arrow-icon, .prize-date, .game-logo {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}

	.card-header {
		background-color: #fff;
		border-bottom: none;
	}

	.card-footer {
		background-color: #7f8fa6;
		border-top: none;
		color: #fff;
	}

	.card-footer:last-child {
		border-radius: 0;
	}

	.uk-logo-lotto {
		width: 25%;
		height: auto;
		margin-right: 5%;
	}

	.card {
		box-shadow: 0 3px 12px 2px rgba(0, 0, 0, .4);
		border: 0;
		margin-bottom: 40px;;
	}

	.card-body {
		padding: 0;
		margin-bottom: 10%;
	}

	.prize, .date {
		color: #1d1d1d;
		margin-bottom: 0;
	}

	.prize {
		font-weight: bold;
		font-family: "Effra Heavy";
    	font-size: 18px;
	}

	.prize_date {
		float: right;
	}

	.nextDraw {
	    font-size: 1.3rem;
	    padding-left: 30px;
	    padding-top: 5px;
	}

	.footerNextDraw {
		margin: 0;
	}

	label {
	    max-width: 100%;
	    margin-bottom: 5px;
	    font-weight: 100;
	}

	.numbers {
		color: #FFF;
		align-items: center;
		width: 42px;
	    height: 42px;
	    font-size: 1.36rem;
	    margin-right: 15px;
	    float: left;
	    margin-bottom: 8px;
    	line-height: 2;
    	justify-content: center;
    	text-align: center;
	}

	.circle {
	    border-radius: 50%;
	}



	/* UK numbers */
	.bc_lotto {
		background-color: #2a65cd;
	}

	.supplementary {
		background-color: #7e8fad;
	}
}

/* for media lottery results */
.media {
	padding: 3.25rem 0;

	.media-img {
		width: 70%;
		height: auto;
	}

	.media-body, .media-right {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* for notification wrapper */
.notification-wrapper {
	background-color: #2a65cd;

	.getNotified-container {
		padding: 3.25rem 0;
	}

	.notif-button {
		padding-top: 2.25rem;
		text-align: right;
	}
}

/* for uk lotto news wrapper */
.uk-lotto-news-wrapper {
	.view-more-news {
		justify-content: center;
		padding: 2.25rem 0;
	}

	.card {
		box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.1);
	}

	.card-title {
		a {
			color: #1b1b1b;
		}
	}
}

/* subscribe wrapper */
.subscribe-wrapper {
	background-color: #2a65cd;

	.subscribe-body {
		padding-left: 25px;
		padding-right: 25px;
	}

	.subscribe-container {
		padding: 2.25rem 0;
	}

	.form-control, .btn {
		border-radius: 0;
	}

	.subscribe {
		padding-top: 25px;
	}
}

/* footer */

footer {

	.footer-links a {
		color: #808fa6;
    	white-space: nowrap;
	}

	.footer-copyright, a {
		color: #808fa6;
    	white-space: nowrap;
	}

	a:hover {
	    color: #0056b3;	
	}

	.social-media { 
		color: #808fa6;
	}

	.list-inline-item:not(:last-child) {
	    margin-right: .8rem;
	}

	.jumbo-corp-link {
		text-decoration-line: underline;
	}
	
}