/* FONT VARIABLES */
.celias {
	font-family: "Celias", sans-serif;
}

.news-slider{
	margin-top: 20px; 

	.slick-arrow{
		z-index: 999;
		background-color: #2965cc;
		position: absolute;
		height: 200px;
		width: 25px;

		&.slick-disabled{
			display: none !important;
		}
	}

	.slick-prev{
		left: 0;
	}
	.slick-next{
		right: 0;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: #1D1D1D;
	font-family: "Nunito Regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    align-items: center;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
	color: #1D1D1D;
	font-family: "Nunito Regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    align-items: center;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: #2965cc;
    font-family: "Nunito Regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    align-items: center;
}

a:hover {
	text-decoration: none;
}

.btn, .card {
	border-radius: 0;
}

.btn {
	padding: 0.375rem 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	width: 140px;
	font-family: "Nunito Regular", sans-serif;
}

.change-btn {
	width: 160px;
}

.blueBtn {
	background-color: #2965cc;
	border: 1px solid #2965cc;
}

.blueBtn:hover {
	background-color: #357ffd;
	border-color: #357ffd;
}

a {
	color: #2965cc;
}

a:hover {
	color: #357ffd;
}

.supp-link-icons {
	color: #2965cc;
	padding-top: 20px;
	padding-bottom: 20px;

	.icon-printresult, .icon-download {
		height: 16px;
		width: 16px;
	}

	img.img-fluid.icon-pastresult {
		height: 20px;
		width: 20px;
	}
}

.gameResults-actionLink {
    margin-bottom: 2%;

    .supplementary_numbers {
    	padding: 0 15px;
    }
}

h2.media-heading {
	color: #1D1D1D;	
	font-size: 24px;	
	font-weight: 900;	
	line-height: 24px;
}

p.media-content {
	color: #1D1D1D;	
	font-family: "Nunito Regular", sans-serif;
	font-size: 16px;	
	line-height: 22px;
}

/* notification */
h3.notif-heading {
	font-size: 20px;		
	line-height: 20px;
}

p.notif-content {
	font-family: "Nunito Regular", sans-serif;
	font-size: 16px;		
	line-height: 20px;
}

.bg-blue {
	background-color: #2965cc; 
	border-color: #2965cc; 
}

.bg-blue:hover {
	background-color: #0057ef;
	border-color: #0057ef;
}

body {
	padding-top: 54px;

	/* for navigation */

	.nav-background {
		background-color: #FFF;	
		box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
	}
	#mainNav {

		.uk-logo {
			width: 270px;
			height: 65px;
		}
	}
}


/* for header */
.result-container, #print-me {
	background-color: #2965cc;

	.game-row {
		flex-wrap: nowrap;
		align-items: center;
	}

	label {
		color: #1D1D1D;	
		font-family: "Nunito Regular", sans-serif;
		font-size: 16px;	
		line-height: 22px;
	}

	a.icons.icon-pastresult {
		float: right;
	}

	a.icons {
		padding-right: 15px;
	}

	.icon-pastresult {
		padding-right: 5px;
	}

	.arrow-icon {
		background-color: #7f8fa6;
		color: #fff;
		text-align: center;
		line-height: 4rem;
		width: 15%;
		margin-left: 25px;
	}

	.navbar-dark .navbar-nav .nav-link.active {
	    color: #1d1d1d;
	}

	.game-logo {
		font-family: "Effra Heavy";
    	color: #000;
    	font-size: 14px;
		padding-left: 25px;
		width: 34%;

		.uk-logo-lotto {
			max-width: 70%;
		}

		.game-postcode_daily,
		.game-postcode_weekly, .game-postcode_monthly {
			max-width: 50%;
		}

		.game-health_lottery {
			max-width: 70%;
		}
	}

	.arrow-icon, .prize-date, .game-logo {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}

	.card-header {
		background-color: #fff;
		border-bottom: none;
	}

	.gameResult-body {
		padding: 0 25px;
	}

	.card-footer {
		background-color: #7f8fa6;
		border-top: none;
		color: #fff;
		padding: 26px 26px;
	}

	.card-footer:last-child {
		border-radius: 0;
	}

	.card {
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
		border: 0;
		margin-bottom: 40px;
	}

	.card-body {
		padding: 0;
		margin-bottom: 2%;
	}

	.prize, .date {
		color: #1d1d1d;
		margin-bottom: 0;
		font-family: "Nunito Regular", sans-serif;
	}

	.prize {
		color: #1D1D1D;	
		font-family: "Nunito Black", sans-serif;
		font-size: 16px;	
		line-height: 22px;
		font-weight: 700;
	}

	.prize-date {
		margin-left: auto;
	}

	.nextDraw {
	    color: #FFF;	
		font-family: "Celias Medium", sans-serif;
		font-size: 20px;	
		font-weight: normal;	
		line-height: 20px;	
		text-align: center;
		margin-top: 10px;
	}

	.buy-now-btn {
		margin-right: 15px;
	}

	.footerNextDraw {
		margin: 0;
	}
}

/* for media lottery results */
.media {
	padding: 3.25rem 0;

	.media-img {
		width: 70%;
		height: auto;
	}

	.media-body, .media-right {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* for notification wrapper */
.notification-wrapper {
	background-color: #2965cc;

	.getNotified-container {
		padding: 3.25rem 0;
	}

	.notif-button {
		padding-top: 2.25rem;
		text-align: right;
	}
}

/* for uk lotto news wrapper */
.uk-lotto-news-wrapper {

	.uk-lotto-news-title {
		color: #1d1d1d;
		font-size: 24px;
		font-weight: 900;
		line-height: 24px;
	}

	.blog-title {
		color: #1D1D1D;	
		font-size: 20px;	
		font-weight: 900;	
		line-height: 20px;	
	}

	.view-more-news {
		justify-content: center;
		padding: 2.25rem 0 0 0;
	}

	.card {
		box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.1);
	}

	.card-title {
		a {
			color: #1d1d1d;
		}
	}
}

/* subscribe wrapper */
.subscribe-wrapper {
	background-color: #2965cc;

	.subscribe-heading {
		font-size: 20px;	
		font-weight: 900;	
		line-height: 20px;
	}

	.subscribe-content {
		font-family: "Nunito Regular", sans-serif;
		font-size: 16px;	
		line-height: 16px;
		line-height: 20px;
	}

	.subscribe-body {
		padding-left: 25px;
		padding-right: 25px;
	}

	.subscribe-container {
		padding: 2.25rem 0;
	}

	.form-control {
		color: #7F8FA6;	
		font-family: "Nunito Regular", sans-serif;
		font-size: 16px;	
		line-height: 27px;
	}

	.form-control, .btn {
		border-radius: 0;
		width: 140px;
		height: 40px;
	}

	.subscribe {
		padding-top: 25px;
	}

	.btn-subscribe {
		box-shadow: none;
	}
}

/* footer */

footer {

	padding-top: 52px !important;
    padding-bottom: 52px;

	.footer-copyright, a {
    	white-space: nowrap;
    	color: #7F8FA6;	
    	font-family: "Nunito Regular", sans-serif;
    	font-size: 16px;	
    	line-height: 22px;	
	}

	.sm-font {
		color: #7F8FA6;	
		font-family: "Nunito Regular", sans-serif;
		font-size: 16px;	
		line-height: 22px;	
		text-align: right;
	}

	a:hover {
	    color: #0056b3;	
	}

	.list-inline-item:not(:last-child) {
	    margin-right: .8rem;
	}

	.jumbo-corp-link {
		text-decoration-line: underline;
	}
	
}

@media print {
    body {
        -webkit-print-color-adjust: exact; 

        #print-me{
        	.btn,
        	.supp-link-icons,
        	.arrow-icon{
        		display: none;
        	}
        }
    }
}