@media (max-width: 575.98px) {
	.container{
	}

	body {
		#mainNav {

			.uk-logo {
				width: 230px;
				height: 65px;
			}
		}
	}

	.result-container {
		padding-top: 10px;

		.uk-logo-lotto {
			width: 35%;
		}

		.latest-title {
			font-size: 30px;
		}

		.prize {
			font-size: 12px;
		}

		.game-logo {
			font-size: 14px;
			padding-left: 20px;
		}
	}

	.game_result {
		font-size: 12px;
	}
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	
}