#result-detail, #print-me{
	
	section.detail{
		background-color: #2a65cd;
	    padding-top: 30px;
	    padding-bottom: 42px;
	    margin-top: 20px;

		.detail-content{
			background-color: #fff;
			padding: 35px;
			box-shadow: 0 0px 33px 0 rgba(0, 0, 0, 0.5);

			img.game-logo{
				width: 150px;
			}

			.lotto-game-logo {
				margin-left: 15px;
			}

			.change-lottery {
				margin-left: 35px;
			}

			.game-prize-date {
				margin-left: auto;
				padding-right: 15px;
    			padding-top: 15px;

    			.arrow-prev, .arrow-next {
    				font-size: 25px;
    				padding: 10px 10px;
    			}
			}

			.current-jackpot{
				font-family: "Celias Black", sans-serif;  
				font-weight: bold;
				font-size: 2em;
				line-height: 0;
			}

			.supp-link-icons{
				float: right;
			    //margin-top: -40px;
			    padding: 0;
			    right: 0;
			}
			
			a.icons {
				cursor: pointer;
			}

			.card-body, 
			.main_numbers, 
			.supplementary_numbers{
				padding-left: 0;
			}

			.next-draw{
				padding: 30px;
				background-color: $bg-gray;
				font-family: "Celias Black", sans-serif; 
				font-weight: bold;
				font-size: 2em;
				color: #fff;
				margin-top: 35px;
			}

			.dividends-table{
				table{
					width: 100%;

					tr{
						text-align: left;

						&:first-child{
							background-color: $bg-gray;
							color: #fff;
						}

						&:last-child{
							font-weight: bold;
						}


						border-bottom: 1px solid rgba(0,0,0, .2);

						td{
							padding: 10px 7px;
						}
					}
				}

				iframe{
					width: 100%;
					height: 335px;
				}
			}
		}
	}

	section.view-past-result{
		background-color: $bg-gray;
		color: #fff;
		span{
			font-family: "Celias Black", sans-serif;  
			font-weight: bold;
			font-size: 1.3em;
		}
		button{
			font-family: "Celias";
			padding: 7px 25px;
		}
	}

	section.result-video{
		padding: 52px 0; 

		.container{

			.section-title{
				font-family: "Celias Black", sans-serif;  
				font-weight: bold;
				font-size: 1.7em;
			}

			.video-container{
				position: relative;
			    overflow: hidden;

				iframe.video{
					position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    border: 0;
				}
			}
		}
	}

	section.draw-statistics{
		background-color: #2a65cd;
		.container{
			color: #fff;
			font-family: "Celias Black", sans-serif;  
			font-weight: bold;
			padding: 50px;

			.section-title{
				font-size: 1.5em;
			}

			label{
				font-family: "Celias", sans-serif;  
			}

			span.value{
				font-size: 2.5em;
				line-height: .9;
			}
		}
	}

	section.news{
		.container{

			.section-title, .card-title{
				/*font-size: 1.7em;
				font-family: "Celias Black", sans-serif;  
				color: #000;*/
			}
			.card-title{
				/*font-size: 1.4em;*/
			}

		}
	}

}